## Описание проекта

Исследуем данные сервиса Яндекс.Недвижимость. В данном случае — архив объявлений о продаже квартир в Санкт-Петербурге и соседних населённых пунктах за несколько лет. Нужно научиться определять рыночную стоимость объектов недвижимости. Задача — установить параметры. Это позволит построить автоматизированную систему: она отследит аномалии и мошенническую деятельность. По каждой квартире на продажу доступны два вида данных. Первые вписаны пользователем, вторые — получены автоматически на основе картографических данных. Например, расстояние до центра, аэропорта, ближайшего парка и водоёма.

## Инструкция по выполнению проекта

### Шаг 1. Откройте файл с данными и изучите общую информацию
* Путь к файлу: /datasets/real_estate_data.csv. Скачать датасет

### Шаг 2. Предобработка данных
* Определите и изучите пропущенные значения:
  - для некоторых пропущенных значений можно предположить логичную замену. Например, если человек не указал число балконов —      скорее всего, их нет. Такие пропуски правильно заменить на 0. Для других типов данных нет подходящего значения на замену. В    этом случае правильно оставить эти значения пустыми. Отсутствие значения — тоже важный сигнал, который не нужно прятать;
  - заполните пропуски, где это уместно. Опишите, почему вы решили заполнить пропуски именно в этих столбцах и как выбрали  значения;
  - укажите причины, которые могли привести к пропускам в данных.
* Приведите данные к нужным типам:
  - поясните, в каких столбцах нужно изменить тип данных и почему.
  
### Шаг 3. Посчитайте и добавьте в таблицу:
* Цену квадратного метра;
* День недели, месяц и год публикации объявления;
* Этаж квартиры; варианты — первый, последний, другой;
* Соотношение жилой и общей площади, а также отношение площади кухни к общей.
   
### Шаг 4. Проведите исследовательский анализ данных и выполните инструкции:
* Изучите следующие параметры: площадь, цена, число комнат, высота потолков. Постройте гистограммы для каждого параметра.
* Изучите время продажи квартиры. Постройте гистограмму. Посчитайте среднее и медиану. Опишите, сколько обычно занимает продажа. Когда можно считать, что продажи прошли очень быстро, а когда необычно долго?
* Уберите редкие и выбивающиеся значения. Опишите, какие особенности обнаружили.
* Какие факторы больше всего влияют на стоимость квартиры? Изучите, зависит ли цена от площади, числа комнат, удалённости от центра. Изучите зависимость цены от того, на каком этаже расположена квартира: первом, последнем или другом. Также изучите зависимость от даты размещения: дня недели, месяца и года.
* Выберите 10 населённых пунктов с наибольшим числом объявлений. Посчитайте среднюю цену квадратного метра в этих населённых пунктах. Выделите среди них населённые пункты с самой высокой и низкой стоимостью жилья. Эти данные можно найти по имени в столбце 'locality_name'.
* Изучите предложения квартир: для каждой квартиры есть информация о расстоянии до центра. Выделите квартиры в Санкт-Петербурге ('locality_name'). Ваша задача — выяснить, какая область входит в центр. Создайте столбец с расстоянием до центра в километрах: округлите до целых значений. После этого посчитайте среднюю цену для каждого километра. Постройте график: он должен показывать, как цена зависит от удалённости от центра. Определите границу, где график сильно меняется — это и будет центральная зона.
* Выделите сегмент квартир в центре. Проанализируйте эту территорию и изучите следующие параметры: площадь, цена, число комнат, высота потолков. Также выделите факторы, которые влияют на стоимость квартиры (число комнат, этаж, удалённость от центра, дата размещения объявления). Сделайте выводы. Отличаются ли они от общих выводов по всему городу?

### Шаг 5. Напишите общий вывод

* Написать итоговый вывод

#### Описание данных

1. `airports_nearest` — расстояние до ближайшего аэропорта в метрах (м)
2. `balcony` — число балконов
3. `ceiling_height` — высота потолков (м)
4. `cityCenters_nearest` — расстояние до центра города (м)
5. `days_exposition` — сколько дней было размещено объявление (от публикации до снятия)
6. `first_day_exposition` — дата публикации
7. `floor` — этаж
8. `floors_total` — floors_total — всего этажей в доме
10. `kitchen_area` — площадь кухни в квадратных метрах (м²)
11. `last_price` — цена на момент снятия с публикации
12. `living_area` — жилая площадь в квадратных метрах(м²)
13. `locality_name` — название населённого пункта
14. `open_plan` — свободная планировка (булев тип)
15. `parks_around3000` — число парков в радиусе 3 км
16. `parks_nearest` — расстояние до ближайшего парка (м)
17. `ponds_around3000` — число водоёмов в радиусе 3 км
18. `ponds_nearest` — расстояние до ближайшего водоёма (м)
19. `rooms` — число комнат
20. `studio` — квартира-студия (булев тип)
21. `total_area` — площадь квартиры в квадратных метрах (м²)
22. `total_images` — число фотографий квартиры в объявлении
23. `is_apartment` — апартаменты (булев тип)

Пояснение: апартаменты — это нежилые помещения, не относящиеся к жилому фонду, но имеющие необходимые условия для проживания.

## Шаг №1. Знакомство с данными

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('real_estate_data.csv', sep = "\t")

In [3]:
df

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.00,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,NaN,...,25.00,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000.0,40.40,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,...,11.00,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.00,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,...,8.30,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.00,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,...,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000.0,100.00,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,NaN,...,41.00,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23694,9,9700000.0,133.81,2017-03-21T00:00:00,3,3.70,5.0,73.3,3,NaN,...,13.83,NaN,Санкт-Петербург,24665.0,4232.0,1.0,796.0,3.0,381.0,NaN
23695,14,3100000.0,59.00,2018-01-15T00:00:00,3,NaN,5.0,38.0,4,NaN,...,8.50,NaN,Тосно,NaN,NaN,NaN,NaN,NaN,NaN,45.0
23696,18,2500000.0,56.70,2018-02-11T00:00:00,2,NaN,3.0,29.7,1,NaN,...,NaN,NaN,село Рождествено,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23697,13,11475000.0,76.75,2017-03-28T00:00:00,2,3.00,17.0,NaN,12,NaN,...,23.30,2.0,Санкт-Петербург,39140.0,10364.0,2.0,173.0,3.0,196.0,602.0
23698,4,1350000.0,32.30,2017-07-21T00:00:00,1,2.50,5.0,12.3,1,NaN,...,9.00,NaN,поселок Новый Учхоз,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
total_images            23699 non-null int64
last_price              23699 non-null float64
total_area              23699 non-null float64
first_day_exposition    23699 non-null object
rooms                   23699 non-null int64
ceiling_height          14504 non-null float64
floors_total            23613 non-null float64
living_area             21796 non-null float64
floor                   23699 non-null int64
is_apartment            2775 non-null object
studio                  23699 non-null bool
open_plan               23699 non-null bool
kitchen_area            21421 non-null float64
balcony                 12180 non-null float64
locality_name           23650 non-null object
airports_nearest        18157 non-null float64
cityCenters_nearest     18180 non-null float64
parks_around3000        18181 non-null float64
parks_nearest           8079 non-null float64
ponds_around3000        18181 non-null float64
ponds_nearest           9110 non-null float64
days_exposition         20518 non-null float64
dtypes: bool(2), float64(14), int64(3), object(3)
memory usage: 3.7+ MB

### Вывод: 

Мы ознакомились с полученными данными и сразу заметно, что у нас очень много пропусков + придется изменять типы данных для дальнейшего анализа.

## Шаг №2. Предобработка данных

In [5]:
display(df)

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.00,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,NaN,...,25.00,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000.0,40.40,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,...,11.00,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.00,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,...,8.30,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.00,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,...,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000.0,100.00,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,NaN,...,41.00,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23694,9,9700000.0,133.81,2017-03-21T00:00:00,3,3.70,5.0,73.3,3,NaN,...,13.83,NaN,Санкт-Петербург,24665.0,4232.0,1.0,796.0,3.0,381.0,NaN
23695,14,3100000.0,59.00,2018-01-15T00:00:00,3,NaN,5.0,38.0,4,NaN,...,8.50,NaN,Тосно,NaN,NaN,NaN,NaN,NaN,NaN,45.0
23696,18,2500000.0,56.70,2018-02-11T00:00:00,2,NaN,3.0,29.7,1,NaN,...,NaN,NaN,село Рождествено,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23697,13,11475000.0,76.75,2017-03-28T00:00:00,2,3.00,17.0,NaN,12,NaN,...,23.30,2.0,Санкт-Петербург,39140.0,10364.0,2.0,173.0,3.0,196.0,602.0
23698,4,1350000.0,32.30,2017-07-21T00:00:00,1,2.50,5.0,12.3,1,NaN,...,9.00,NaN,поселок Новый Учхоз,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Посмотрим на количество пропусков во всем Датафрейме.

In [6]:
print('Количество пропусков в процентах')
(100 * round(df.isna().mean(), 2))

Количество пропусков в процентах

total_images             0.0
last_price               0.0
total_area               0.0
first_day_exposition     0.0
rooms                    0.0
ceiling_height          39.0
floors_total             0.0
living_area              8.0
floor                    0.0
is_apartment            88.0
studio                   0.0
open_plan                0.0
kitchen_area            10.0
balcony                 49.0
locality_name            0.0
airports_nearest        23.0
cityCenters_nearest     23.0
parks_around3000        23.0
parks_nearest           66.0
ponds_around3000        23.0
ponds_nearest           62.0
days_exposition         13.0
dtype: float64

Как мы видим, пропусков достаточно много и начнем разбираться с каждой колонкой по отдельности. Сразу можно сказать, что скорее всего колонки где доля пропусков по 23%, имеют общую закономерность.

Начнем с высоты пололков и посомтрим на их количество, и средние параметры с медианой.

In [7]:
df['ceiling_height'].value_counts()

2.50      3515
2.60      1646
2.70      1574
3.00      1112
2.80       993
          ...
27.50        1
5.00         1
3.59         1
4.80         1
100.00       1
Name: ceiling_height, Length: 183, dtype: int64

In [8]:
print('Медиана -', (df['ceiling_height'].median()))
print('Среднее -', round(df['ceiling_height'].mean(), 2))

Медиана - 2.65
Среднее - 2.77

Как мы видим, cреднее и медиана находятся где-то между 2.7. Если обращать внимание на строительные нормы на 2021 год, то как раз высота потолков 2.7 является железным стандартом. 

Мне кажется что можно прикинуть высоту потолков в зависимости от этажности и от этого произвести замену.

In [9]:
def howlevel(num):
    if num >= 1 and num <= 5:
        return 'малоэтажки'
    elif num > 5 and num < 10:
        return 'многоэтажки'
    else:
        return 'высокоэтажки'

df['new_floor'] = df['floors_total'].apply(howlevel)

In [10]:
k = []
for i in ['малоэтажки', 'многоэтажки', 'высокоэтажки']:
    result = df[df['new_floor'] == i]['ceiling_height'].median()
    k.append(result)

level = pd.DataFrame(data = k, columns = ['level'])

In [11]:
level

   level
0    2.6
1    2.6
2    2.7

Теперь произведем замену пропусков в зависимости от этажности

In [12]:
columns = ['малоэтажки', 'многоэтажки', 'высокоэтажки']
for i in range(len(columns)):
    df.loc[df['new_floor'] == columns[i],'ceiling_height'] = df.loc[df['new_floor'] == columns[i],'ceiling_height'].fillna(level['level'][i])

Теперь посмотрим, все ли удалось изменить.

In [13]:
df['ceiling_height'].isna().sum()

0

Посмотрим на пропуски `living_area` и произведем замену по такому же принципу. С одной стороны, мы можем избавиться от пропусков, так как их в данном случае всего 8%, но считаю, что правильнее их будет заменить, так как в целом в датасете их много, и удаление этих 8% может потянуть за собой часть нормальных данных.

In [14]:
p = []
for i in ['малоэтажки', 'многоэтажки', 'высокоэтажки']:
    result = (df[df['new_floor'] == i]['living_area'].median())
    p.append(result)

area = pd.DataFrame(data = p, columns = ['area'])

In [15]:
area

    area
0  30.75
1  32.00
2  27.40

In [16]:
columns = ['малоэтажки', 'многоэтажки', 'высокоэтажки']
for i in range(len(columns)):
    df.loc[df['new_floor'] == columns[i],'living_area'] = df.loc[df['new_floor'] == columns[i],'living_area'].fillna(level['level'][i])

`is_apartment` - а вот здесь пропусков 88 % и мы их как раз трогать не будем и оставим на месте, тем более, эта колонка не сильно требуется для анализа

А вот в `kitchen_area` используем привычную для этого проекта логику замены пропусков.

In [17]:
f = []
for i in ['малоэтажки', 'многоэтажки', 'высокоэтажки']:
    result = (df[df['new_floor'] == i]['kitchen_area'].median())
    f.append(result)

kitch = pd.DataFrame(data = f, columns = ['kit_area'])

In [18]:
kitch.head(3)

   kit_area
0       7.6
1       8.3
2      10.8

In [19]:
columns = ['малоэтажки', 'многоэтажки', 'высокоэтажки']
for i in range(len(columns)):
    df.loc[df['new_floor'] == columns[i],'kitchen_area'] = df.loc[df['new_floor'] == columns[i],'kitchen_area'].fillna(level['level'][i])

`balcony` - имеет почти 50% пропусков. Скорее всего, пропуски говорят о том, что в этих квартирах могло не оказаться балконов и пользователи поставили 0. Здесь прость подставим 0.

In [22]:
df['balcony'] = df['balcony'].fillna(0)

Мы обнаружли, что существют квартиры у которых в графе количество комнат - 0. 

Посмотрим на эти значения.

In [26]:
df.sort_values('rooms').head(10)

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition,new_floor
9412,5,2100000.0,16.00,2017-12-10T00:00:00,0,2.6,6.0,13.0,1,NaN,...,0.0,Санкт-Петербург,20735.0,2111.0,2.0,228.0,3.0,72.0,3.0,многоэтажки
8886,10,2450000.0,15.50,2018-08-22T00:00:00,0,2.6,5.0,10.0,2,NaN,...,0.0,Санкт-Петербург,24326.0,4589.0,0.0,NaN,1.0,446.0,27.0,малоэтажки
18132,6,4800000.0,32.50,2019-04-09T00:00:00,0,2.8,17.0,22.9,5,NaN,...,2.0,Санкт-Петербург,43996.0,13576.0,1.0,396.0,0.0,NaN,NaN,высокоэтажки
20002,8,2700000.0,28.00,2017-11-10T00:00:00,0,2.7,21.0,20.0,6,NaN,...,2.0,Санкт-Петербург,21460.0,16788.0,0.0,NaN,1.0,170.0,17.0,высокоэтажки
21425,4,2700000.0,25.70,2018-01-01T00:00:00,0,2.7,24.0,18.5,19,NaN,...,2.0,Санкт-Петербург,41606.0,11678.0,0.0,NaN,0.0,NaN,5.0,высокоэтажки
12229,12,6200000.0,32.40,2018-02-22T00:00:00,0,3.0,9.0,18.3,3,NaN,...,2.0,Санкт-Петербург,25987.0,4823.0,0.0,NaN,2.0,849.0,32.0,многоэтажки
3019,18,2100000.0,24.00,2017-11-10T00:00:00,0,2.7,10.0,18.0,6,NaN,...,2.0,Сертолово,NaN,NaN,NaN,NaN,NaN,NaN,5.0,высокоэтажки
2532,5,3500000.0,27.10,2018-02-01T00:00:00,0,2.7,18.0,18.7,9,NaN,...,2.0,Санкт-Петербург,32036.0,8175.0,0.0,NaN,1.0,644.0,70.0,высокоэтажки
22047,0,3400000.0,24.00,2017-05-31T00:00:00,0,2.7,16.0,16.0,1,NaN,...,0.0,Санкт-Петербург,9731.0,11849.0,0.0,NaN,0.0,NaN,569.0,высокоэтажки
2727,4,3670000.0,26.49,2018-07-26T00:00:00,0,2.6,21.0,19.0,4,NaN,...,1.0,Санкт-Петербург,36579.0,9092.0,0.0,NaN,1.0,454.0,28.0,высокоэтажки

In [29]:
df.query('rooms == "0"').groupby('rooms')['living_area'].agg('mean')

rooms
0    17.714924
Name: living_area, dtype: float64

Как мы заметили, квартиры "Без комнат" имеют среднюю жилую площадь в районе до 18 метров, а общая варьируется значениями до 35 метров.
Получается, что везде где стоят 0 в 'Rooms', мы имеем дело с однокомнатной квартирой или квартирой-студией. Поэтому заменим значение 0 на 1.

In [31]:
df.loc[df['rooms'] == 0] = df.loc[df['rooms'] == 0].replace(to_replace = 0, value = 1)

Теперь посмотрим на пропуски по удаленности прудов и парков. Здесь, как мне кажется, если есть пропуски, то это может нам сказать о том, что парков и прудов в радиусе 3 КМ нет. Произведем замену.

In [34]:
df['parks_around3000'] = df['parks_around3000'].fillna(0)
df['ponds_around3000'] = df['ponds_around3000'].fillna(0)

Считаю, что как-то правильно заменить оставшиеся колонки нет смысла. Замена не даст должного результата + то что мы пытаемся заменить не требуется для Анализа.

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 23 columns):
total_images            23699 non-null int64
last_price              23699 non-null float64
total_area              23699 non-null float64
first_day_exposition    23699 non-null object
rooms                   23699 non-null int64
ceiling_height          23699 non-null float64
floors_total            23613 non-null float64
living_area             23699 non-null float64
floor                   23699 non-null int64
is_apartment            2775 non-null object
studio                  23699 non-null bool
open_plan               23699 non-null bool
kitchen_area            23699 non-null float64
balcony                 23699 non-null float64
locality_name           23650 non-null object
airports_nearest        18157 non-null float64
cityCenters_nearest     18180 non-null float64
parks_around3000        23699 non-null float64
parks_nearest           8079 non-null float64
ponds_around3000        23699 non-null float64
ponds_nearest           9110 non-null float64
days_exposition         20518 non-null float64
new_floor               23699 non-null object
dtypes: bool(2), float64(14), int64(3), object(4)
memory usage: 3.8+ MB